<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.it.univai">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CarSharing">
        <activity
            android:name="com.it.univai.activities.StartActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.it.univai.activities.MessageActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.it.univai.activities.LiveChatActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.it.univai.activities.BookRideActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.it.univai.activities.RidesSummaryActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.it.univai.activities.SettingsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.it.univai.activities.LoadImageActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.it.univai.activities.RidesListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.it.univai.activities.NewRideActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.it.univai.activities.AddInfoActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.it.univai.activities.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.it.univai.activities.SignupActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.it.univai.activities.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <service
            android:name="com.it.univai.services.FirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAQEzSH8uY_Rf8YtUrY1D2a3e4PmelhSgU" />
    </application>

</manifest>